*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    background: #920055;
    height: 100px
}
.body{
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}
.logo{
    padding-left: 20px;
    padding-top: 23px;
    float: left;
}
.auth{
    padding-right: 20px;
    padding-top: 15px;
    float: right;
}
.auth .top{
    margin-bottom: 10px;
}
.auth a{
    color: #ffffff;
}
.top{
    display: flex;
    vertical-align: top;
}
.right{
    text-align: right;
}
.auth .ico{
    margin-right: 10px;
}
.search{
    background: #ba6295;
    border: 0;
    height: 35px;
    border-radius: 3px 0 0 3px;
    width: 290px;
    font-size: 18px;
    padding-left: 10px;
    color: #ffffff;
    outline: 0;
}
#search-btn{
    border: 0;
    height: 35px;
    width: 25px;
    background: #ba6295;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    display: inline-block;
}
#search-btn img{
    padding-top: 9px;
    padding-right: 9px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}
body{
    background: #eee;
}
.header_line{
    height: 1px;
    width: 100%;
    background: url("../images/bg_line_red.png") repeat-x ;
}
.menu{
    text-align: center;
    min-height: 50px;
    background: url("../images/menu_bg.png") repeat-x ;
    margin-bottom: -50px;
    z-index: 50;
    padding-top: 6px;
    position: absolute;
    max-width: 1200px;
    min-width: 900px;
    width: 100%;
}
.menu ul{
    list-style: none;
    color: #920055;
}
.menu ul li{
    display: inline-block;
    padding: 10px;
    height: 18px;
    font-size: 15px;
}
.menu ul li a{
    color: #920055;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.sub-menu{
    position: absolute;
    background: #feb5e0;
    padding: 7px;
    margin-top: 10px;
    width: 190px;
    display: none;
    z-index: 400;
}
.triangle-3{
    position: absolute;
    top: -6px;
}
.menu ul li:hover .sub-menu{
    display: block;
}
.sub-menu ul li{
    display: block;
    height: inherit;
    text-align: left;
    padding: 4px 10px;
}

.sub-menu ul li a{
    width: 177px;
    display: block;
}
.sub-menu ul li a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.sub-menu ul li a:hover .triangle-1{
    display: none;
}
.sub-menu ul li a:hover .triangle-2{
    display: block;
}

.triangle-1, .triangle-2{
    float: right;
    margin-top: -6px;
    margin-right: 10px;
}
.triangle-2{
    display: none;
}
.jq-selectbox{
    z-index: auto !important;
}

.sub-menu ul li:hover .sub-menu-2{
    display: block;
}
.sub-menu-2{
    position: absolute;
    background: #feb5e0;
    left: 192px;
    padding: 7px;
    display: none;
    top: 0;
}
.sub-menu-2 ul li{
    height: inherit;
    margin: 0;
    line-height: 15px;
    padding: 5px 0;
}
.sub-menu-2 ul li a{
    color: #444444;
    font-size: 15px;
}
.sub-menu-2 ul li a:hover{
    color: #920055;
    cursor: pointer;
    text-decoration: underline;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
#register-errors{
    color: #CC3333;
}
.blaskbg{
    background: #000000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 149;
    display: none;
    /*color: #920055;*/
}
.popup table{
    color: #920055;
}

.popup table tr td{
    padding-bottom: 10px;
}
button{
    background: #ba6295;
    padding: 5px 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.cbtn:hover{
    background: rgba(146, 0, 85, 0.73);
}

.popup{
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    height: 160px;
    padding: 20px;
    background: #feb5e0;
    border: 3px dashed #920055;
    border-radius: 5px;
    top: 20%;
    z-index: 150;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    display: none;
}
.popup h2{
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
body{
    background: #ffffff;
    position: relative;
}
.footer{
    height: 149px;
    padding-top: 50px;
    background: url('../images/footer_bg.png');
}
.footer a{
    color: #757575;
}
.footer a:hover{
    color: #920055;
}
.footer-menu li{
    color: #9b9b9b;
    padding: 5px;
    font-size: 14px;
}
h2{
    color: #920055;
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: normal;
}
.ainput{
    background: #ba6295;
    border: 0;
    height: 35px;
    border-radius: 3px 0 0 3px;
    width: 290px;
    font-size: 18px;
    padding-left: 10px;
    color: #ffffff;
    outline: 0;
}
