{% extends "WzcAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_testquestion_list') }}">Тестирование</a> <span class="divider"></span></li>
        <li class="active">Добавление вопроса<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <form method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}