{% extends "WzcAdminBundle::mini_layout.html.twig" %}

{% block content %}
    <div class="">
        Добавить вариант ответа:
        <form method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}