{% extends "WzcMainBundle::layout.html.twig" %}

{% block content %}
    <div style="text-align: center">
        {% if status_code == 404 or status_code == 403 %}
            <table style="width: 600px;" align='center'>
                <tr>
                    <td style="text-align: left; padding-left: 10px;">
                        <h3>К сожалению, запрошенная Вами страница не найдена на сервере по одной из следующих причин:
                            <br /><br />
                            <ul style="font-weight: normal">
                                <li>неправильно набран адрес</li>
                                <li>такой страницы никогда не было на этом сайте</li>
                                <li>такая страница была, но по этому адресу ее больше нет</li>
                                <li>Такая страница есть, но она временно недоступна</li>
                            </ul>
                        </h3>
                    </td>
                </tr>
            </table>
        {% else %}
            <h1 style="text-align: center">К сожалению, возникли трудности:</h1><br/><br/>
            <h3>Ваш запрос сейчас не может быть обработан. Мы в курсе этой ошибки и работаем над её устранением. Попробуйте заглянуть чуть позже</h3>
        {% endif %}
    </div>
{% endblock %}