<div class="blaskbg"></div>
<div class="popup popup-auth">
    <h2>Вход</h2>
    <form method="post" action="{{ path('login_check') }}" id="auth-form">
        <table>
            <tr>
                <td style="width: 150px">E-mail:<br /></td>
                <td><input type="text" class="ainput" name="_username" id="_username"></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input type="password" class="ainput" name="_password" id="_password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="float: left; padding-top: 10px;">
                        <a href="#" style="color: #991199; text-decoration: underline" class="register">Зарегистрироваться</a>
                        <a href="#" style="color: #991199; text-decoration: underline" class="password">Забыли пароль</a>
                    </div>
                    <button id="auth-submit" type="submit" style="float: right;">Войти</button><br />

                </td>
            </tr>
        </table>
    </form>
</div>

<div class="popup popup-register" style="min-height: 360px;  display: none">
    <h2>Регистрация</h2>
    <br />
    <div id="register-errors"></div>
    <form method="post" action="{{ path('register') }}">
        <table>
            <tr>
                <td style="width: 150px">Имя:<br /></td>
                <td><input type="text" class="ainput" name="name" id="name"></td>
            </tr>
            <tr>
                <td style="width: 150px">E-mail:<br /></td>
                <td><input type="text" class="ainput" name="username" id="username"></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input type="password" class="ainput" name="password" id="password"></td>
            </tr>
            <tr>
                <td>Повторите пароль:</td>
                <td><input type="password" class="ainput" name="confirm" id="confirm"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="float: left; padding-top: 10px;">
                        <a href="#" style="color: #991199;">Нажимая кнопку зарегистрироваться вы принимаете наше соглашение</a>
                    </div>
                    <button type="submit" id="register-submit" style="float: right;">Зарегистрироваться</button>
                </td>
            </tr>
        </table>
        <br style="clear: both"/>
        <br style="clear: both"/>
    </form>
</div>

<div class="popup popup-password" style="display: none">
    <h2>Забыли пароль</h2>
    <br />
    <div id="register-errors"></div>
    <form method="post" action="{{ path('password-reset') }}">
        <table>
            <tr>
                <td style="width: 150px">E-mail:<br /></td>
                <td><input type="text" class="ainput" name="username" id="username"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="register-submit" style="float: right;">Отправить</button>
                </td>
            </tr>
        </table>
        <br/>
    </form>
</div>
