<html>
    <body>
        <div style="text-align: center">
            <div style="width: 600px; margin: 0 auto; ">
                <div style="height: 5px; border-radius: 3px 3px 0 0; background: #920055; font-size: 5px">&nbsp; </div>
                <div style="background: #feb5e0; border: 1px solid #920055">
                    <div style="margin: 10px">
                        <span style="color: #920055; padding: 10px">Вы сменили пароль на сайте medram.ru</span>
                        <br />
                        <span style="color: #920055; padding: 10px">Ваш новый пароль: {{ password }}</span>
                        <br />
                        <span style="color: #920055; padding: 10px">С уважением, medram.ru</span>
                        <br />
                    </div>
                </div>
                <div style="height: 5px; border-radius: 0 0 3px 3px; background: #920055; font-size: 5px">&nbsp; </div>
            </div>
        </div>
    </body>
</html>