<html>
<body>
<div style="text-align: center">
    <div style="width: 680px; margin: 0 auto; ">
        <div style="background: #ffffff; color: #920055">
            Вам пришла открытка с портала <a style="color: #920055;" href="http://vzk-life.com" target="_blank"><b>vzk-life.com</b></a>
            <br />
            <div style="width: 660px; height: 220px; background: url('http://medram.ru{{ img.image.path }}')">
                <div style="text-align: center; color: #FFFFFF; font-size: 18px; font-style: italic;">
                    <p style="font-size: 10px">&nbsp;</p>
                    {{ title }}</div>
            </div>
        </div>
        {#<div style="height: 5px; border-radius: 0 0 3px 3px; background: #920055; font-size: 5px">&nbsp; </div>#}
    </div>
</div>
</body>
</html>
