<html>
    <body>
        <div style="text-align: center">
            <div style="width: 600px; margin: 0 auto; ">
                <div style="height: 5px; border-radius: 3px 3px 0 0; background: #920055; font-size: 5px">&nbsp; </div>
                <div style="background: #feb5e0; border: 1px solid #920055">
                    <div style="margin: 10px">
                        <span style="color: #920055; padding: 10px">Добрый день! Ваша регистрация на сайте Межрегиональной Общественной Организации Поддержки Пациентов с ВЗК прошла успешно. На нашем сайте Вы найдете увлекательные статьи, практические рекомендации  и полезные советы.</span>
                        <br />
                        <span style="color: #920055; padding: 10px">Также Вы сможете получить <a  href="http://vzk-life.ru/faq" style="color: #920055">онлайн-консультацию специалиста</a> и пройти <a  href="http://vzk-life.ru/test" style="color: #920055">онлайн-тест</a>,чтобы определить, находитесь ли Вы в группе риска.</span>
                        <br />

                        <span style="color: #920055; padding: 10px">Будьте здоровы!</span>
                        <br />
                    </div>
                </div>
                <div style="height: 5px; border-radius: 0 0 3px 3px; background: #920055; font-size: 5px">&nbsp; </div>
            </div>
        </div>
    </body>
</html>