{% extends "WzcAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li class="active"><a href="{{ path('admin_page_list') }}">Страницы</a> <span class="divider"></span></li>
        <div style="float: right">
            <a href="{{ path('admin_page_add') }}">Добавить</a> <span class="divider"></span>
        </div>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {{ form_widget(form) }}
    </div>
{% endblock %}