<html>
    <head>
        {% block javascripts %}
            <script src="{{ asset('bundles/wzcadmin/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/wzcadmin/js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link href=" {{ asset('bundles/wzcadmin/css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">ПАНЕЛЬ <span class="text-danger">[ АДМИНИСТРАТОР ]</span></a>
                    </div>
                    <div class="navbar-right">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">На сайт</a></li>
                                <li><a href="#">Профиль</a></li>
                                <li><a href="#">Выйти</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="well">
                        <h2 class="modal-title">Навигация</h2>
                        <ul class="nav list-group">
                            <li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-align-justify"></i>
                                    Страницы сайта
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    Слайдбар
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                    Частые вопросы
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                    Онлайн косультация
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Пользователи
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ul class="breadcrumb well">
                        {% block breadcrumb %}
                            <li><a href="#">Домой</a> <span class="divider"></span></li>
                            <li><a href="#">Библиотека</a> <span class="divider"></span></li>
                            <li class="active">Данные</li>
                        {% endblock %}
                    </ul>
                    <div class="well">
                        <div class="panel-heading">
                            Фильтр:
                            <div class="btn-group">
                                <button type="button" class="btn btn-default active">Все</button>
                                <button type="button" class="btn btn-default">Активные</button>
                                <button type="button" class="btn btn-default">Неактивные</button>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Заголовок</th>
                                <th></th>
                                <th>Инструменты</th>
                            </tr>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>1</td>
                                <td>Название</td>
                                <td><span class="glyphicon glyphicon-star" style="color: green"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>1</td>
                                <td>Название</td>
                                <td><span class="glyphicon glyphicon-star" style="color: green"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>1</td>
                                <td>Название</td>
                                <td><span class="glyphicon glyphicon-star" style="color: red"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>1</td>
                                <td>Название</td>
                                <td><span class="glyphicon glyphicon-star" style="color: green"></span></td>
                                <td></td>
                            </tr>
                        </table>
                        <div style="text-align: right">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                        {#{% block content %}{% endblock %}#}
                    </div>
                </div>
            </div>
        </div>



        {% block body %}{% endblock %}
    </body>
</html>