<div class="well">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-picture"></i>
                Слайдбар
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-question-sign"></i>
                Частые вопросы
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-info-sign"></i>
                Онлайн косультация
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Пользователи
            </a>
        </li>
    </ul>
</div>